
<!DOCTYPE html>
<html>
  <head>
    <title>Success</title>
  </head>
  <body>
    <h1>Order Successful!</h1>
    <p>Payment ID: {{data.id}}</p>
    <p>Payment Status: {{data.status}}</p>
    <p>Amount: {{data.totaPrice}}</p>
    <p>orderstatus:{{data.orderStatus}}</p>
    {{data.orderdate}}
    {{data.orderId}}
  </body>
</html>
